/* Colors Scheme */
/* let darkblue = "#5c73a0",
	lightblue = "#dcdce8"; */
	
			
			
/* darkest to lightest */
/* let dblue1 = "#52709c",
	dblue2 = "#5c73a0",	
	dblue3 = "#6f7c94",
	dblue4 = "#7793b3",	
	lblue5 = "#9bb9d4",
	lblue6 = "#9ab5ca",	
	lblue7 = "#baccdd",
	lblue8 = "#dcdce8"; */



<h1>
	about page
</h1>


<a href="/ "> Go home page</a>