<head>
	
	<script>var __pbpa = true;</script>
	<script>var translated_warning_string = </script>
	<script type="text/javascript" language="javascript" src="https://assets.tumblr.com/assets/scripts/pre_tumblelog.js?_v=b9f848c06fcba7eaf305d4a7cb7a1b98"></script>

</head>


<header><img src="https://66.media.tumblr.com/4f96f63323df989aee93eb2ed67872e2/7eef63fe26682ba9-f4/s2048x3072/a69fe2092f92bbab2ddb4bdd52cad456127629bb.png"></header>

<nav id="barz" style="height: 60px;">
	<div class="barz abz"><a href="/">
		<span data-hover="home">home</span></a><a href="/ask">
		<span data-hover="inbox">inbox</span></a><a href="/submit">
		<span data-hover="submit">submit</span></a><a href="/archive">
		<span data-hover="archive">archive</span></a><a href="">
		<span data-hover="sun">sun</span></a><a href=""><span data-hover="moon">moon</span></a><a href="">
		<span data-hover="earth">earth</span></a><a id="toggle" href="#"><span data-hover="info">info</span></a><a href="http://magnusthemes.tumblr.com" title="theme by magnusthemes">
		<span data-hover="credit">credit</span></a><a href="#" id="scrollToTop" style="display: none;"><span data-hover="top">top</span></a>
	</div>
</nav>

<aside id="sidebar" class="" style="">
	<div class="side" style="padding-bottom: 76px;">
		<div class="blogn">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-zap ftr">
				<polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"></polygon>
			</svg>
			<span class="meta">plus ultra+</span>
		</div>
		
		<div class="desc">
            From now on, I’m the only one who worries about myself. What you must protect is not me, but this sea.
        </div>
		<div class="tnav sidebox" rel="navigate"><a href="/one">Mercury</a><a href="/two">Venus</a><a href="/three">Mars</a><a href="/four">Jupiter</a><a href="/five">Saturn</a><a href="/six">Uranus</a><a href="/seven">Neptune</a><a href="/eight">Pluto</a></div>
		<div class="tinfo sidebox" rel="information"><span class="stat"><b>watching</b> the king: eternal monarch</span><span class="stat"><b>reading</b> days, haikyuu, bnha, ons</span>
			<span class="stat"><b>crying about</b> kdrama, college, research</span>
		</div>
		
		<div class="tsc">
			<form action="/search" method="get" class="search">
				<input type="text" name="q" value="" placeholder="Search...">
				<button type="submit">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search ftr">
						<circle cx="11" cy="11" r="8"></circle>
						<line x1="21" y1="21" x2="16.65" y2="16.65"></line>
					</svg>
				</button>
			</form>
		</div>
	</div>
</aside>